<div id="hypervisor-inventory-report">
<div class="intro-stats">
<h2>Overview</h2>
<div class="count-stats">
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.backupVaults }}</span>
		<span class="stat-label">Backup Vaults</span>
	</div>
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.backupPlans }}</span>
		<div class="stat-label">Backup Plans</div>
	</div>
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.backupVaults }}</span>
		<div class="stat-label">Protected Resources</div>
	</div>
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.totalJobs }}</span>
		<div class="stat-label">Total Jobs</div>
	</div>
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.backupJobs }}</span>
		<div class="stat-label">Backup Jobs</div>
	</div>
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.restoreJobs }}</span>
		<div class="stat-label">Restore Jobs</div>
	</div>
	<div class="stats-container">
		<span class="big-stat">{{ header.0.dataMap.copyJobs }}</span>
		<div class="stat-label">Copy Jobs</div>
	</div>
</div>
</div>
<h2>Cypher Items</h2>
<table>
	<thead>
	<th>Key</th>
	<th>Last Updated</th>
	<th>Last Accessed</th>
	<th>Lease Timeout</th>
	</thead>
	<tbody>
		{{#each main}}
			<tr>
				<td>{{dataMap.key}}</td>
				<td>{{dataMap.last_updated}}</td>
				<td>{{dataMap.last_accessed}}</td>
				<td>{{dataMap.lease_timeout}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
</div>